<!-- <p>our-branches works!</p> -->
<div class="container-flouid">
    <br> <br> <br>
    <!-- <img  id="logo" src="../../assets/logoDoarim.png" alt=""> -->
    <div class="row">
        <div id="Cities" class="col-3">
            <p>טבריה - שמעון הצדיק 3 <button type="button" class="btn btn-secondary"></button>
            </p>
            <p>חיפה - חידושי הרים 16 <button type="button" class="btn btn-info"></button>
            </p>
            <p>תל אביב - ארלוזרוב 4 <button type="button" class="btn btn-success"></button>
            </p>
            <p>ירושלים - יפו 39 <button type="button" class="btn btn-danger"></button>
            </p>
            <p>באר שבע - הנרקיס 1 <button type="button" class="btn btn-warning"></button>
            </p>
        </div>
        <button id="p" type="button" class="btn btn-primary"></button>
        <button style="height:20px" type="button" class="btn btn-secondary"></button>
        <button style="height:20px" type="button" class="btn btn-success"> </button>
        <button style="height:20px" type="button" class="btn btn-danger"> </button>
        <button style="height:20px" type="button" class="btn btn-warning"> </button>
        <div [style.z-index]="3" id="ColorDivs" class="col-1">
            <div class="mb-5 bg-primary text-white"></div>
            <div class="mb-5 bg-secondary text-white"></div>
            <div class="mb-5 bg-success text-white"></div>
            <div class="mb-5 bg-danger text-white"></div>
            <div class="mb-5 bg-warning text-dark"></div>
        </div>
        <div [style.z-index]="3" id="SmallColorDivs" class="col-3">
            <div id="sd1" class="p-2 mb-2 bg-primary text-white"></div>
            <div id="sd2" class="p-2 mb-2 bg-secondary text-white"></div>
            <div id="sd3" class="p-2 mb-2 bg-success text-white"></div>
            <div id="sd4" class="p-2 mb-2 bg-danger text-white"></div>
            <div id="sd5" class="p-2 mb-2 bg-warning text-dark"></div>
        </div>
            <img style="margin-left: -50%;" src="../../assets/IsraelzMap2.png" id="IsraelzMap" alt="">

        <!-- <button type="button" class="btn btn-info"> </button> -->
    </div>

</div>

