<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav" id="myTopnav" >
    <a href=""> <img  id="logo"    src="../../assets/logoDoarim.png" alt=""> </a>
    <div   *ngIf="singIn" class="chip">
      <img src="../../assets/img_avatar.png" width="96" height="96"> 
       <!-- <i class="fa fa-user-circle-o" style="font-size:36px"></i> -->
       <b>{{userName}} </b>
     </div>
    <a class="active" [routerLink]="['/']"><i class="fa fa-home"></i></a>
    <a   *ngIf="singIn" (click)="exsit()" style="    float: left;" [routerLink]="['/']"> יציאה<i class="	fa fa-external-link"></i></a>

    <a [routerLink]="['/About']">קצת עלינו <i class="	fa fa-commenting-o"></i></a>
    <a  [routerLink]="['/ContactUs']">צור קשר <i class="	fa fa-tty"></i></a>
    <a [routerLink]="['/Likes']">תגובות <i class="fa fa-comments-o"></i></a>
    <a [routerLink]="['/OurBranches']" >הסניפים שלנו<img src="../../assets/מפת ישראל.png" width="25px" alt=""> </a>
    <!-- <div class="dropdown">
        <button class="dropbtn">התחבר
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" n >
          <a >מנהל</a>
          <a >לקוח</a>
          <a>משלוחן</a>
        </div>
      </div> -->
  </div>

  <div *ngIf="!singIn" class="dropdown dropright" style="z-index: 1; background-color: gainsboro;">
    <button type="button"  class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
     התחבר 
    </button>
    <div class="dropdown-menu" >
      <a class="dropdown-item" [routerLink]="['/ManagerLogin']" >מנהל</a>
      <a class="dropdown-item" [routerLink]="['/CourierLogin']" >משלוחן</a>
      <a class="dropdown-item"  [routerLink]="['/CustomerLogin']" >לקוח</a>
    </div>
  </div>