<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="bt" class="col d-flex justify-content-around">
        <a routerLink="ShippingOperationsInRealTime" class="nav-item text-right mr-2 align-self-center"
            routerLinkActive='active'>
            <b>תפעול בזמן אמת <i class="	fa fa-clock-o"></i></b>
        </a>
        <a routerLink="CouriersDetails" class="nav-item text-right mr-2 align-self-center" routerLinkActive='active'>
            <b>פרטי המשלוחנים <i class="	fa fa-address-card-o"></i></b>
        </a>
        <a routerLink="OrdersMade" class="nav-item text-right mr-2 align-self-center" routerLinkActive='active'>
            <b>הזמנות שבוצעו <i class="	fa fa-building-o"></i></b>
        </a>
        <a routerLink="CommentsAndIlluminations" class="nav-item text-right mr-2 align-self-center"
            routerLinkActive='active'>
            <b>הערות והארות <i class="	fa fa-comments-o"></i></b>
        </a>
    </div>
</nav>

<router-outlet></router-outlet>