




<div class="row">
    <div class="col-75">
      <div class="container">
        <agm-map [latitude]="lat" [longitude]="lng">

            <agm-direction *ngFor="let i of listOriginDestination" [origin]="i.origin" [destination]="i.destination">
        
            </agm-direction>
            <!-- <agm-marker *ngFor="let marker of listWaypoints" [latitude]="marker.Lat" [longitude]="marker.Lng"></agm-marker> -->
        
        </agm-map>
      </div>
    </div>
    <div class="col-25">
      <div class="container" >
        <div *ngFor="let p of mTC.LatLng">
        <h3 (click)="selectAddress(p)" (click)="selectAAddress=p" data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-map-marker" style="color: #1E90FF;"> </span>    <b>{{p.address}}</b>   </h3>
        <!-- <h3 data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-map-marker"  style="color: grey;"></span>     <b>כתובת</b> להתקשר  <i class="	fa fa-times" style="color: red;"></i> <i class="	fa fa-check" style="color: greenyellow;"></i></h3>
        <h3 data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-map-marker"  style="color: #1E90FF;"></span>     <b>כתובת</b>  <i class="	fa fa-times" style="color: red;"></i> <i class="	fa fa-check" style="color: greenyellow;"></i></h3>
        <h3 data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-map-marker"  style="color: #1E90FF;"></span>     <b>כתובת</b>  <i class="	fa fa-times" style="color: red;"></i> <i class="	fa fa-check" style="color: greenyellow;"></i></h3>
        <h3 data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-map-marker"  style="color: ;"></span>     <b>כתובת</b>  <i class="	fa fa-times" style="color: red;"></i> <i class="	fa fa-check" style="color: greenyellow;"></i></h3> -->
</div>
        <hr>
        <p> <span class="price" style="color:black"><b>יום נעים!!</b></span></p>
      </div>
    </div>
  </div>


   
  <!-- Modal -->
  <div class="modal fade" style="direction: rtl;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" dir="rtl" id="exampleModalLabel">פרטי כתובת </h3>
        </div>
        <div class="modal-body" >
          
          <agm-map [latitude]="selectAAddress.Lat" [longitude]="selectAAddress.Lng" style="height: 300px" >
               
            <agm-marker  [latitude]="selectAAddress.Lat" [longitude]="selectAAddress.Lng"></agm-marker>
          </agm-map>
            <!-- <agm-marker *ngFor="let marker of listWaypoints" [latitude]="marker.Lat" [longitude]="marker.Lng"></agm-marker> -->

        <hr>
        <div style="direction: rtl; float: right;">
        <div class="row">
  
          <input type="checkbox" id="cbx" style="display:none"/>
          <label (click)="topend()" for="cbx" class="toggle"><span> </span> </label>    
          <label for="">בוצע?  </label>
        </div>
     
          <h2> פרטי חבילה :</h2>

          <p class="card-text"> <b>קוד משלוח:</b>{{selectPac.PackageId}} </p>
          <p פרטי חבעclass="card-text"><b>כתובת : </b> {{selectAAddress.address}} </p>
          <p class="card-text"><b>משקל:</b>  {{selectPac.Weigth}}</p>
          <p class="card-text"><b>הערות:</b> </p> 

        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
          <button data-dismiss="modal" type="button"  class="btn btn-success"> שמור שיוניים</button>
        </div>
      </div>
    </div>
  </div>
