agm-map {
    height: 400px;
}
#ReturnToHomePage {
    color: grey;
    margin: 2vw;
    direction: rtl;
    display: block;
}
#logo1 {  z-index: -1;
  opacity: 0.4;
   height: 500px;
   margin-right: 25%;

}
a {
    color: slategrey;
    font-size: 22px;
}
p{
    font-size: 150%;
    color:slategrey;
    z-index: 4;
    position: relative;
    text-align: center;
    width: 65vw;
    margin-left: 18vw;
    margin-top: 3vw;
}





/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right:  -20px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 250px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text colo */
    border-top-left-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    right:  0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 100px;
    background-color: 	#74254d;
  }
  
  #blog {
    top: 160px;
    background-color:	#74254d; /* Blue */
  }
  
  #projects {
    top: 220px;
    background-color: 	#74254d; /* Red */
  }
  
  #contact {
    top:280px;
    background-color: 	#74254d /* Light Black */
  }


  